/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* hide input */

input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12px;        
        
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
        right: 0;
	
	content: '';
	width: 2.5em;
	background: #01A0B3;
	
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #01A0B3;
}

input.radio:checked ~ label {
	color: white;
	background: #01A0B3;
	
}


.vjs-tech { position: absolute; top:30px }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important;
    appearance: none;
    margin: 0; 
}
input[type=number]
{
 -moz-appearance: textfield !important;
}
.couponpassword{
background: url(../images/icon-eye-gray.gif) no-repeat right center;
}
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
 /* .container {
    width: 90%;
    padding: 0; }*/
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */  
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff; 
   /*background: -webkit-linear-gradient(#E17F04, #BD3701) no-repeat;
    background: -o-linear-gradient(#E17F04, #BD3701)  no-repeat; 
    background: -moz-linear-gradient(#E17F04, #BD3701)  no-repeat;
    background: linear-gradient(#E17F04, #BD3701)  no-repeat; */
    background: #3A5795;
    min-height: 600px;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: black !important; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#tick_submit  {
    background : url("../images/submit.png") no-repeat center center;
    width : 45%;
    height :33px;
    border : none;
    color : transparent;
	position:absolute;
	bottom:-30px;
	left:145px;
}

.simplePopupClose {
	background : url("../images/cross.png") no-repeat center;
    width : 45px;
    height :33px;
    border : none;
    color : transparent;
	position:absolute;
	top:-17px;
	left:270px;
	display: hidden !important;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
 background-color: #01a0b3;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 38px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
          color: #373737;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 0.5rem; list-style: none; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
 // margin-top: 3rem;
// margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* cutom css starts here */
.header-cont{
  width: 100%;
  background: #fff;
  padding: 2px 0;
  text-align: center;
}

.log-blk{margin-top:25%; border: 1px solid #fff; border-radius: 5px; padding: 10px;text-align: center; }

.log-out{background: #373737;
    border-radius: 5px;
    color: #fff;
    float: right;
    margin: 1px 8px;
    padding: 2px 6px;
    text-decoration: none;}


  .m-btns{text-align: center; margin-top: 20%;}  
  /* .m-btns a{background: #ff6600;border: 3px solid #000;border-radius: 5px; color: #000;padding: 6px;text-decoration: none;font-weight: bold;} */
  .m-btns a:hover{background: #FF6600;color: #333;border-color:#333;}


  .media-list{float: left; width: 100%;margin: 10px auto;}
  .media-list a{position:relative;float: left;width: 48%;margin: 2px; text-decoration: none;text-transform: capitalize;border: 1px solid #000;font-size: 12px;height: 195px; overflow: hidden;background: #fff;color: #373737;}
  .media-list a.wt-m{height: auto;min-height: 165px;}
  .media-list a.wt-m.folder{background: #fff;  border: 1px solid #000; color: #1eaedb; width: 48%;height: 195px;}
  .media-list a.music-ele{min-height: 175px;}
  .media-list a img{width: 100%;height: 120px;}
  .media-list a.swipebox img{width: 100%;height: 100%;}
  .media-list a .img_e img{width: 150px;height: 120px;}
  .media-list a .img_e{text-align: center;background: #000;}
  .media-list a.wt-m img{width: 120px;height: 120px;}
  .media-list a.wt-m {text-align: center;}
  .mov-cont-rt{padding: 2px; background: url('../images/video_icon.png') no-repeat right bottom; background-size:18px;}
  .mov-cont-rt.music-rt{background: url('../images/music_icon.png') no-repeat right bottom; background-size:15px; }
  .mov-cont-rt span{color: #1eaedb;}
  .m-btns a{background: #ff6600;color:#000;display:block; border: 3px solid #000; border-radius: 5px; float: none; margin: 10px auto; padding: 20px 0; text-align: center; text-decoration: none; width: 80%;}

  .meta-frm{float: left;width: 100%;margin: 18% auto;}
  .meta-frm p{margin: 2px;text-align: left; float: left;clear: both;}
  .meta-frm p label{width: 100px; text-align: left;float: left;}

  .cont-blk{ width: 100%; float: left;padding:10px 0;}
  .img-blk{width: 100%; text-align: center;position: relative;}
  .img-blk img{max-width:300px; border: 1px solid #fff; height:300px; border-radius: 5px;width:300px}
  .desc-blk{ float: left; width: 100%; padding: 10px 0;}
  .row-data{width: 100%; clear: both;text-align: left; padding: 5px 0;float: left;}
  .r-h{font-weight: bold;float: left;padding-right:5px; color: #eedd67;}
  .r-d{float: left; color: #fff;}

  a.o-btn{text-decoration: none;font-weight: bold;padding: 5px 25px; border-radius: 5px; border: 1px solid #fff; font-size: 18px;color: #3a5795;background: #fff;}

  .icon-blk{  float: left;  margin: 30px 0; text-align: center; width: 100%;}
  .ent .media-icon{float:none; background:#fff; color: #3a5795; border-radius:5px; border: 1px solid #fff;clear: both; display: block;font-weight: bold; margin: 20px auto; padding: 18px 0; text-align: center;text-decoration: none; width: 200px; }
  .media-icon{ background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    clear: none;
    color: #3a5795;
    display: block;
    float: left;
    font-weight: bold;
    margin: 5px;
    padding: 6% 0;
    text-align: center;
    text-decoration: none;
    width: 46%;}
  .media-icon:hover{text-decoration: none;}
  .med-desc{clear: both;margin: 20px 0; width: 100%; }

  span.stars, span.stars span {
      display: block;
      background: url('../images/stars.png') 0 -16px repeat-x;
      width: 80px;
      height: 16px;
      margin-right:5px; 
      float: left;
  }

  span.stars span {  background-position: 0 0; }
  .h-lft{cursor:pointer;color: #fff; text-decoration:none; margin:2px; font-size:12px; border-radius:5px;background: #313131; padding:3px 5px; float:left;}
  .img-blk .play-icon{background: white;opacity: 0.65;left: 46%; position: absolute; top: 36%; z-index: 1;}
  .img-blk .play-icon img{width: 75px;height: auto;border: 0;}

  .img-blk .premioum-icon{
	position: absolute; 
	left: 61%; 
	top: 1%; 
	z-index: 1;
	font-size:10px;
	color:#FFF;
	background: #FF0000 none repeat scroll 0 0;
  }
.img-blk .premioum-cost{
	position: absolute; 
	left: 67%; 
	top: 100%; 
	z-index: 1;
	font-size:14px;
        color: white;
	}
  
  #browser-msg{font-size: 11px;margin-top:10px; }

  .media-list li{margin: 0;display: inline;}

  .elite_vp_progressIdleTrack{display: none;}

  span.skipBtn {
    display:none;
    padding: 7px 15px;
    border-radius: 0px;
    background-color: #000;
    font-family: sans-serif;
    cursor: pointer;
    position: absolute;
    right:0;
    bottom: 40px;
    z-index: 999;
  }
  span.skipBtn.disabled {
    background-color: #333;
  }
  
.media-list a img.subs-img{ background: #ffff00; box-shadow: 2px 2px 2px 2px #000; height: 30px;
    padding:4px; position:absolute; right:0; width:30px;}

.prem-tag{
    background: red;
    top: 0;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    right: 0;
}
/* cutom css ends here */

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
.loader {
	position: absolute;
	left: 18%;
	top: 43%;
	width: 100%;
	height: 100%;
	z-index: 9999;
}


@media (max-width: 450px) {
  .media-list a{  
    float: left;
    margin: 4px;
    width: 45%; 
    font-size: 12px;
  }
  .img-blk .play-icon{left: 42%;}
  .media-icon{padding: 12% 0; border-radius: 0;}
  .media-list a.wt-m{min-height: 165px; font-size: 13px;}
  .media-list h2{font-size: 18px;}
  .media-list a.wt-m.folder{width: 47%;height:27%}
  .media-list a .img_e img{width:100%;}
  .mov-cont-rt{font-size: 10px;}
  .media-list a.wt-m img{width: 80%;}
  .media-list a.wt-m{font-size: 10px;}
  .mov-cont-rt{background-position: right 45px;}
  .loder{top: 55%; left: 15%}
  
}


/* Larger than mobile */
@media (min-width: 300px) {
	.img-blk .premioum-icon{left: 77%;}
	.loder{top: 85%; left: 15%}
}

@media (min-width: 400px) {
	.img-blk .premioum-icon{left: 74%;}
	.loder{top: 85%; left: 15%}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 500px) {
	.img-blk .premioum-icon{left: 71%;}
	.loder{top: 85%; left: 15%}
}
@media (min-width: 550px) {
	.img-blk .premioum-icon{left: 68%;}
	.loder{top: 85%; left: 15%}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.img-blk .premioum-icon{left: 61%;}
	.loder{top: 85%; left: 15%}
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .media-list a{width: 32.5%;}
  .media-list a.folder{width: 20%;}
  .media-list a.wt-m.folder{width: 32.5%;}
  .loder{top: 85%; left: 15%}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

