
.simplePopup {
display:none;
position:fixed;
background:#fff;
z-index:3;
padding:12px;
width:615px;
height:110px;
min-width:315px;
color: #000;
top: 30%;
left: 30%;
}



.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}

@media only screen and (max-width: 767px) {
.simplePopup {
display:none;
position:fixed;
background:#fff;
z-index:3;
padding:12px;
width:315px;
min-width:315px;
color: #000;
top: 20%;
left: 28%;
}
}

@media only screen and (max-width: 450px) {
.simplePopup {
display:none;
position:fixed;
background:#fff;
z-index:3;
padding:12px;
width:315px;
min-width:315px;
color: #000;
top: 20%;
left: 10%;
}
}